h1{
    text-align:center;
    color: red;
    }
img{height:auto;
    width: 500px;}
div1{
    font-family: tahoma;
    text-align: center;
}
div{

    font-family:  tahoma;
    text-align: center;
    margin: 100px;
    Margin-top: 50px;
    color: green;

}
body{
    background-color: white;
}
h3{
    color: red;
}